IoT Based Weather Adaptive Street Lighting System/FINAL DELIVERABLES/weather street light(node red).json
[
    {
        "id": "519c8defd34a8747",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "493913c22f5f7baf",
        "type": "ui_button",
        "z": "519c8defd34a8747",
        "name": "",
        "group": "1a56d0e99f5c6980",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIGHT ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lighton1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "5752048d70dcd59f",
                "31d44b23c5200ff7"
            ]
        ]
    },
    {
        "id": "91d12fbef5b692c2",
        "type": "ui_button",
        "z": "519c8defd34a8747",
        "name": "",
        "group": "1a56d0e99f5c6980",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIGHT OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lightoff1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "5752048d70dcd59f",
                "31d44b23c5200ff7"
            ]
        ]
    },
    {
        "id": "5752048d70dcd59f",
        "type": "debug",
        "z": "519c8defd34a8747",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "31d44b23c5200ff7",
        "type": "ibmiot out",
        "z": "519c8defd34a8747",
        "authentication": "apiKey",
        "apiKey": "6f92b94d3baa07c2",
        "outputType": "cmd",
        "deviceId": "NM2023TMID09640",
        "deviceType": "STREETLIGHT",
        "eventCommandType": "test",
        "format": "String",
        "data": "Data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "2f3c51fefc6c6343",
        "type": "ui_button",
        "z": "519c8defd34a8747",
        "name": "",
        "group": "ed37825f5a6f2978",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIGHT ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lighton2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "8f302baa928fd40c",
                "b1437f3b46e102fe"
            ]
        ]
    },
    {
        "id": "f94230d17b057ef0",
        "type": "ui_button",
        "z": "519c8defd34a8747",
        "name": "",
        "group": "ed37825f5a6f2978",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIGHT OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lightoff2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "8f302baa928fd40c",
                "b1437f3b46e102fe"
            ]
        ]
    },
    {
        "id": "e20e1d11cf4e8fc9",
        "type": "ui_button",
        "z": "519c8defd34a8747",
        "name": "",
        "group": "13d4286689fbe68c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIGHT ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lighton3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "64a49474b6c36198",
                "5dd7d27c346290e7"
            ]
        ]
    },
    {
        "id": "ea7cc44c8aeac5c1",
        "type": "ui_button",
        "z": "519c8defd34a8747",
        "name": "",
        "group": "13d4286689fbe68c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIGHT OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lightoff3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "64a49474b6c36198",
                "5dd7d27c346290e7"
            ]
        ]
    },
    {
        "id": "8f302baa928fd40c",
        "type": "debug",
        "z": "519c8defd34a8747",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "64a49474b6c36198",
        "type": "debug",
        "z": "519c8defd34a8747",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "b1437f3b46e102fe",
        "type": "ibmiot out",
        "z": "519c8defd34a8747",
        "authentication": "apiKey",
        "apiKey": "6f92b94d3baa07c2",
        "outputType": "cmd",
        "deviceId": "NM2023TMID09640",
        "deviceType": "STREETLIGHT",
        "eventCommandType": "test",
        "format": "String",
        "data": "Data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "5dd7d27c346290e7",
        "type": "ibmiot out",
        "z": "519c8defd34a8747",
        "authentication": "apiKey",
        "apiKey": "6f92b94d3baa07c2",
        "outputType": "cmd",
        "deviceId": "NM2023TMID09640",
        "deviceType": "STREETLIGHT",
        "eventCommandType": "test",
        "format": "String",
        "data": "Data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "022c2f87f1ec4379",
        "type": "ui_spacer",
        "z": "519c8defd34a8747",
        "name": "spacer",
        "group": "937804b8a54a9eb0",
        "order": 1,
        "width": "1",
        "height": "1"
    },
    {
        "id": "84babf18741f6461",
        "type": "ui_spacer",
        "z": "519c8defd34a8747",
        "name": "spacer",
        "group": "24b557539d9866fb",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a56d0e99f5c6980",
        "type": "ui_group",
        "name": "STREET 1",
        "tab": "0d2149e981e8094e",
        "order": null,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f92b94d3baa07c2",
        "type": "ibmiot",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "ed37825f5a6f2978",
        "type": "ui_group",
        "name": "STREET 2",
        "tab": "0d2149e981e8094e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13d4286689fbe68c",
        "type": "ui_group",
        "name": "STREET 3",
        "tab": "0d2149e981e8094e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d2149e981e8094e",
        "type": "ui_tab",
        "name": "WEATHER ADAPTIVE STREET LIGHTING SYSTEM",
        "icon": "dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false
    }
]